@page "/endian"

<img hidden="@hideStatus" src="images/testCat.png" alt="Cat" width="200" height="200" style="margin:auto;display:block">
<h3 style="text-align:center;" hidden="@hideStatus"> @characterName: @dialogue[position]</h3>
<button style="margin:auto;display:block" hidden="@hideStatus" class="btn btn-primary" @onclick="Advance">@buttonText</button>
<h3 style="text-align:center;" hidden="@(!hideStatus)"> Tada!</h3>


@code {
	int position = 0;
	String buttonText = "Next";
	String characterName = "??????";
	bool hideStatus = false;
	string[] dialogue = {"Hello!", "My name is Endian!", "Here's the difference between big and little endian!", "Its super simple you see!", "In big endian, the most significant bit is on the left.", "In little endian, the most significant bit is on the right.", "Pretty neat right? Now let's check out some examples!"};

	private void Advance()
	{
		position++;
		if (position == 1)
		{
			characterName = "Endian";
		}
		if (position == 7)
		{
			position = 0;
			hideStatus = true;
			buttonText = "Next";
		}
	}
}
